.Logup{
    background: #E8630A;
    display: flex;
    .login{
        background: rgba(191, 158, 158, 0.58);
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            width: 100%;
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                ::placeholder{
                    color: white;
                }
                input{
                    background: #035397;
                    border-radius: 29px;
                    border: none;
                    outline: none;
                    padding: 25px 36px 25px 36px;
                    margin-top: 20px;
                    width: 35%;
                    font-size: 15px;
                    color: white;
                }
            }
            .btn-login{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
                margin-left: 10px;
                .btn-forgot{
                    background: none;
                    border: none;
                    outline: none;
                    a{
                        color: #035397;
                        text-decoration: none;
                        margin-right: 115px;
                    }
                }
                .btn-sure{
                    border: none;
                    outline: none;
                    background: #035397;
                    border-radius: 29px;
                    border: none;
                    outline: none;
                    padding: 11px 15px 15px 15px;
                    margin-left: 20px;
                    cursor: pointer;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        h1{
            display: flex;
            align-items: center;
            text-align: end;
            padding-left: 39%;
            font-family: 'Readex Pro', sans-serif;
            font-weight: 400;
            font-size: 81px;
            line-height: 106px;
            text-align: right;
            color: #035397;
        }
    }
}
.content{
    content{
        h1{
            margin-top: -30%;
            font-family:sans-serif, 'IBM Plex Sans Devanagari';
            font-style: normal;
            font-weight: 400;
            font-size: 51px;
            line-height: 78px;
            text-align: right;
            color: white;
            margin-right: 50px;
        }
        p{
            font-family: 'IBM Plex Sans Devanagari';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 180px;
            text-align: right;
            color: white;
            margin-right: 50px;
        }
    }
    main{
        background: #cce8fe;
        width: 100%;
        height: 100vh;
        margin-top: 12%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: 'IBM Plex Sans Devanagari';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 43px;    
            color: #008AFF;
            padding-top: 3%;
        }
        .video{
            background-color: white;
            border-radius: 35px;
            width: 919px;
            height: 536px;
            margin-top: 145px;
        }
    }
}