.chooding{
    background-color: #cce8fe;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .colom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .row{
            display: flex;
            flex-direction: row;
            button{
                border: none;
                background: none;
                outline: none;
                div{
                    background: #0882E9;
                    border-radius: 15px;
                    padding: 56px 131px 56px 131px;
                    color: white;
                    font-family: 'Imprima';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 200px;
                    line-height: 232px;
                    box-shadow: 2px 2px 5px black;
                    margin-right: 57px;
                    margin-bottom: 35px;
                }
            }
        }
    }
}